/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

/* define colors */
:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

/* footer style (<div class="footer">)*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 5px;
  width: 100%;
  background-color: var(--surface0);
  color: var(--text);
  text-align: center;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    font-size: 1.2em;
    color: var(--text);
    background-color: var(--surface0);
    text-align: center;
}

.main {
    position: relative;
    top: 75px;
    padding: 5px;
    width: 100%;
    color: var(--text);
    text-align: center;
}

a {
    color: var(--pink);
}

/* background color of the page */
body {
  background-color: var(--base);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  margin-top: 75px;
}
